h3 {
  color: rgba(28,39,41,.8);
  font-size: 32px;
  margin-top: 0;
}

h4 {
  line-height: 175%;
  font-size: 18px;
  margin-top: -20px;
  color: rgba(27,38,39,.46);
  font-weight: 300;
}

h5 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: rgba(27,38,39,.46);
  font-weight: 600;
  letter-spacing: 1px;
}

input[type="radio"] {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  margin: 4px 6px;
  opacity: 0;
  z-index: 2;
  
  &:checked {
    opacity: 0;
  }
}

span.radio-new {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
  border: 2px solid #fe6162;
  background-color: none;
  position: relative;
  vertical-align: bottom;
  
  &:after {
    content: '';
    display: inline-block;
    width: 90%;
    height: 90%;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    background-color: none;
    position: relative;
    z-index: -1;
  }
}

input[type="radio"]:checked ~ span.radio-new:after {
  background-color: #fe6162;
}

.question {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: block;
  position: fixed;
  width: 90%;
  top: 0;
  left: 0;
  padding: 10px 5%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 50px 40px #fff;
  z-index: 3;

  img {
    position: relative;
    top: 15px;
    width: 78px;
  }
}

.content {
  margin: 200px auto 0 auto;
  width: 90%;
}

td {
  padding: 12px 6px;
  color: rgba(28,39,41,.8);
  font-size: 18px;
}

.price {
  display: none !important;
}

.product {
  margin: 8px;
  padding: 0 0 100px 0;
}

.total {
  padding: 0 5% 0 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  p {
    color: #fe6162;
    font-size: 25px;
  }
}

.bottom.total {
  padding-bottom: 50px;
  position: relative;
  border-top: 1px dashed rgba(128, 128, 128, 0.42);
}

@media screen and (min-width: 800px) {
  .content {
    margin: 200px auto 0 auto;
    width: 700px;
  }
  
  h5 {
    margin: 5px 10px 0 -42px;
  }
  
  .question {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
}